*{
    margin: 0;
}
header{
    width: 100vw;
    /* height: 4vw;
    height: 5vh; */
    height: max-content;
    background-color: black;
    display: flex;
    
}
div{
    color: white;
    flex: 1;
    text-align: center;
    margin: auto;
}
@media screen and (max-width: 102vh) {
    header{
        height: min-content;
        /* height: 5vh; */
    }
}